admin/error_log
.config/*
config_for_test.php
css/aha.css
css/images/Thumbs.db
data
*.db
.DS_Store
.*.env
.envrc
eval/*
.github/*
iframe.html
images/clip_image002.gif
images/nhc_logo.png
includes/brewerydb/*
includes/brewerydb/ba_style_add.php
includes/error_log
includes/test_scripts.inc.php
js_includes/autosave.js
js_includes/loading.js
js_source/*
js_unused/*
lang/en/en.lang.php
lang/es/*
lib/hosted.lib.php
libraries/*
mods/not_real.php
node_modules
php_info.php
ppv-brewoff.php
prepros-6.config
scratch
sections/brew-ba.sec.php
sections/nav_admin.php
sections/nhc_pay.sec.php
*.ser
sftp-config.json
.sftp-upload-on-change.json
site/config-brewcomp-reset.php
site/config.mail.php
site/config.php
site/config.reset.php
ssh-agent.exe.stackdump
sso/*
*.sublime-project
*.sublime-workspace
update/char_set_update.php
update/current/alter_tables_DEPRECATED.php
update/current/DEPRECATED/alter_tables_DEPRECATED.php
update/move_files.php
vendor/*
.vscode/
*.zip
